In [2]:
print("Data")

Data

In [9]:
a="Data"
print(type(a))

b="Analysis"
print(type(b))

c=3.4

print(isinstance(a,str))
print(isinstance(b,int))
print(isinstance(c,(int,float)))

<class 'str'>
<class 'str'>
True
False
True

In [12]:
a="shashank"
a.islower==True

False

In [13]:
# Importing modules
import numpy as np
data__new=[1,2,3,4]
data=np.array(data__new)
data

array([1, 2, 3, 4])

In [14]:
data[2]

3

In [15]:
x=[1,2,3,4,5]
y=x
z=list(x)
print(x is y)
print(x is not z)

True
True

In [17]:
# Mutable and immutable changes
#list and tuple difference
programming=["java","r","c"]
programming[2]="python"
print(programming)

z_tuple=(1,2,3,4)
z_tuple[2]=2

['java', 'r', 'python']

TypeError: 'tuple' object does not support item assignment

In [18]:
# Strings
"""
Hey this is Shahsank
"""

'\nHey this is Shahsank\n'

In [19]:
x='This is Shashank'
x[10]='f'

TypeError: 'str' object does not support item assignment

In [20]:
j='I love Java'
y=j.replace('Java','Python')
y

'I love Python'

In [24]:
x=123
y=str(x)
print(y)
print(type(y))

a='Python'
print(list(a))
print(a[:3])
print(a[1:])

123
<class 'str'>
['P', 'y', 't', 'h', 'o', 'n']
Pyt
ython

In [26]:
p="R vs"
q=" Python"
print(p+q)

R vs Python

In [28]:
print("Hii space left is just %.3f gb, and  the data base is %s"  %(0.987, 'mysql'))
print("Hii space left is just %f gb, and  the data base is %s"  %(0.987, 'mysql'))
print("Hii space left is just %d gb, and  the data base is %s"  %(0.987, 'mysql'))

Hii space left is just 0.987 gb, and  the data base is mysql
Hii space left is just 0.987000 gb, and  the data base is mysql
Hii space left is just 0 gb, and  the data base is mysql

In [30]:
#Empty iterables(list, dict, strings, tuples etc) are treated as False
print(bool([]), bool([0,1,2,3]))
print(bool('Hello Python!'), bool(''))

False True
True False

In [32]:
#Python date and time module provides datetime, date and time types
from datetime import datetime
print(datetime.now())
print(datetime.now().day)

2017-01-24 17:34:22.945310
24

In [39]:
from datetime import datetime
td=datetime(1989,6,7,2,5,45)
print(td.day)
print(td.minute)
print(td.date())
print(td.time())
td.strftime('%m/%d/%y %H:%M:%S')

7
5
1989-06-07
02:05:45

'06/07/89 02:05:45'

In [42]:
from datetime import datetime
datetime.strptime('1989911', '%Y%m%d') # strings can be converted to date and time objects using strptime
td=datetime(1988,4,6,2,8,20)
td.replace(hour=0,minute=33,second=45)

datetime.datetime(1988, 4, 6, 0, 33, 45)

In [43]:
from datetime import datetime
td=datetime(1988,3,8,4,7,9)
td1=datetime(1988,5,3,2,4,55)
new_td=td-td1
print(new_td)
print(type(new_td))
print(td+new_td)

-56 days, 2:02:14
<class 'datetime.timedelta'>
1988-01-12 06:09:23

In [44]:
# Handling Exceptions

float('Big Data')

ValueError: could not convert string to float: 'Big Data'

In [45]:
def return_float(x):
    try:
        return float(x)
    except:
        return x

print(return_float('4.5'))
print(return_float('Big Data'))

4.5
Big Data

In [53]:
#print(float(9,8)) ->this will return a type error, remove the comment and check the output.
def return_float(x):
    try:
        return float(x)
    except(TypeError,ValueError):
        return x
print(return_float((9,8)))

(9, 8)

x = 'Life is short use python'
'This is my favourite quote' if x == 'Life is short use python'  else 'I hate R'

In [57]:
ml=3,5,7
print(ml)

py=(2,5,8),(2,3,4)
print(py)

(3, 5, 7)
((2, 5, 8), (2, 3, 4))

In [59]:
print(tuple([2,4,6]))
py=tuple('Python')
print(py)
py[0]

(2, 4, 6)
('P', 'y', 't', 'h', 'o', 'n')

'P'

In [63]:
x=tuple(['sha',[2,4],"nope"])
x[1].append(6)
x

('sha', [2, 4, 6], 'nope')

In [69]:
y = ('Mean', 'Median', 'Mode')+('Chisquare', 'Annova') + ('statistical significance',) # you can concatenate a tuple using'+' symbol. 
print(y)
('Mean', 'Median') *4

('Mean', 'Median', 'Mode', 'Chisquare', 'Annova', 'statistical significance')

('Mean', 'Median', 'Mean', 'Median', 'Mean', 'Median', 'Mean', 'Median')

In [70]:
deep_learning =('Theano', 'Open cv', 'Torch')
x,y,z=deep_learning
print(x)
print(y)
print(z)

Theano
Open cv
Torch

In [77]:
countries ='Usa', 'India', ('Afghanistan',' Pakistan'),
a,b,(c,d)=countries
print(a)
print(b)
print(c)
countries.count('Usa')

Usa
India
Afghanistan

1

In [79]:
countries ='Usa', 'India', ('Afghanistan',' Pakistan'),'Usa'
countries.count('Usa')

2

In [80]:
countries =['Usa', 'India','Afghanistan',' Pakistan']
y = countries.extend(['Britian', 'Canada', 'Uzbekistan', 'Turkey'])
z=countries.sort(key=len)
print(countries)

['Usa', 'India', 'Canada', 'Turkey', 'Britian', ' Pakistan', 'Uzbekistan', 'Afghanistan']

In [83]:
import bisect
b = [9,9,9,9,5,6,3,5,3,2,1,4,7,8]
b.sort() # Now its sorted
x=bisect.bisect(b,2) # bisect.bisect finds the location where an element should be inserted to keep it sorted.
y=bisect.bisect(b,7)
print(x)
print(y)

2
9

In [84]:
languages = ['Bigdata', 'Hadoop', 'mapreduce', 'Nosql']

for i,val in enumerate(languages):
    print(i,val)

0 Bigdata
1 Hadoop
2 mapreduce
3 Nosql

In [85]:
print(sorted([6,46,22,7,1,56]))
print(sorted('Big Data'))

[1, 6, 7, 22, 46, 56]
[' ', 'B', 'D', 'a', 'a', 'g', 'i', 't']

In [88]:
hot_job = ['Big_data', 'data science', 'data scientist', 'data base developer']
languages = ['c', 'c++', 'java', 'python']
statistics = ['Mean', 'Median', 'Mode', 'Chi square']
print(zip(hot_job,languages,statistics))

for i,(x,y) in enumerate(zip(hot_job,languages)):
    print('%d: %s -> %s' %(i,x,y))

<zip object at 0x109ae6dc8>
0: Big_data -> c
1: data science -> c++
2: data scientist -> java
3: data base developer -> python

In [89]:
# you can unzip a zipped sequence as follows
rockers = [('Jame', 'Manu'), ('Govind', 'Dheepan'),('Partha', 'Reddy')]
fname,lname=zip(*rockers)
print(fname)
print(lname)

('Jame', 'Govind', 'Partha')
('Manu', 'Dheepan', 'Reddy')

In [91]:
list(reversed(range(20)))

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [93]:
# Dictionaries
d1 = {'a' : 'octave', 'b' : 'Java'}
d1.update({'c' : 'foo', 'd' : 12})
print(d1)

d2 ={'a':'octave','b' :'java'}
d2.update({'b':'python','c':4})
print(d2)

{'b': 'Java', 'c': 'foo', 'd': 12, 'a': 'octave'}
{'b': 'python', 'c': 4, 'a': 'octave'}

In [95]:
ds=dict(zip(range(10),reversed(range(10))))
ds

{0: 9, 1: 8, 2: 7, 3: 6, 4: 5, 5: 4, 6: 3, 7: 2, 8: 1, 9: 0}

In [97]:
# The keys of a dictionary should be immutable(int, string, float, tuples). The technical term for this is hashability
print(hash('string'))
print (hash((1,2,3)))
print (hash([1,2,4])) # generates an error as lists are immutable

1061677089541292733
2528502973977326415

TypeError: unhashable type: 'list'

In [98]:
# An easy way to convert a list into a key is to convert it to a tuple
fg={}
fg[(3,5,6)]=3
fg

{(3, 5, 6): 3}

In [99]:
# SET
# a set is an unordered collection of unique elements.
set([3,3,4,5,2,6,4,7,8,63,4,5])

{2, 3, 4, 5, 6, 7, 8, 63}

In [100]:
#Sets support mathematical set operations like union, intersection, difference, and symmetric difference
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
print(a|b)
print(a&b)
print(a-b)
print(a^b)
print({1,2,3}=={2,1,3})

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}
{1, 2}
{1, 2, 6, 7, 8}
True

In [109]:
football_clubs = ['Manchester', 'Liverpool', 'Arsenal', 'Chelsea', 'Mancity', 'Tottenham', 'Barcelona','Dortmund']

football ={}
for clubs in football_clubs: 
    club = clubs[0] # gets the first character of football_clubs
    if club not in football: 
        football[club] = [clubs]
    else:
        football[club].append(clubs)
print(football)

{'M': ['Manchester', 'Mancity'], 'A': ['Arsenal'], 'C': ['Chelsea'], 'D': ['Dortmund'], 'L': ['Liverpool'], 'T': ['Tottenham'], 'B': ['Barcelona']}

In [111]:
from collections import defaultdict
soccer=defaultdict(list)

for clubs in football_clubs:
    soccer[clubs[0]].append(clubs)
print(soccer)

defaultdict(<class 'list'>, {'M': ['Manchester', 'Mancity'], 'A': ['Arsenal'], 'C': ['Chelsea'], 'D': ['Dortmund'], 'L': ['Liverpool'], 'T': ['Tottenham'], 'B': ['Barcelona']})

In [112]:
#Functions

In [113]:
# a function can return multiple values
def check():
    x=2
    y=4
    z=1
    return x,y,z
print(check())

(2, 4, 1)

In [114]:
# Example of a closure function. The function returns True, if a element is repeated in the list.
def dict_func():
    new_dict={}
    def modifier(z):
        if z in new_dict:
            return True
        else:
            new_dict[z]=True
            return False
    return modifier

x=dict_func()
list_func = [5,4,6,5,3,4,6,2,1,5]
y=[x(i) for i in list_func]
print(y)

[False, False, False, True, False, True, True, False, False, True]

In [115]:
# Cleaning data

In [116]:
"""
Raw data is messy. So you have to clean the data set, to make it ready for analysis.
Here we have a list of states that consists of unnecessary punctuations,capilitalization and white space. 
First, I am importing a python module called regular expression. """

'\nRaw data is messy. So you have to clean the data set, to make it ready for analysis.\nHere we have a list of states that consists of unnecessary punctuations,capilitalization and white space. \nFirst, I am importing a python module called regular expression. '

In [120]:
import re

states = ['       Kerala', 'Gujarat!', 'Delhi', 'Telengana', 'TriPUra', 'Tamil Nadu##', 'West Bengal?']

def remove_functions(strp):
    return re.sub('[!?#]','',strp)

oops=[str.strip,remove_functions,str.title] # create a list of functions

def clean_data(stat,oop):
    result=[]
    for data in stat:
        for fun in oop:
            data=fun(data) # apply each and every function in ooops to states.
        result.append(data)
    return result

x=clean_data(states,oops)
print(x)

['Kerala', 'Gujarat', 'Delhi', 'Telengana', 'Tripura', 'Tamil Nadu', 'West Bengal']

In [122]:
# Lambda is short form of writing a function.
def square(x):
    return x**2
print(square(8))

y=lambda x: x**2
print(y(9))

64
81

In [123]:
# Generator Expressions

In [130]:
def new_objj():
    for x in xrange(100):
        yield x**2
some_var=new_objj()
print(some_var)

# The above function can be written as follows
new_obj = (x**2 for x in range(100)) 

y = sum(x**2 for x in range(10))
print (y)

dict((i,i**2) for i in xrange(5)) #xrange is faster than range

<generator object new_objj at 0x109b80d00>
285

NameError: name 'xrange' is not defined

In [132]:
rkeys=[1,2,3]
rvals=['Ind','US','UK']
rap={e[0]:e[1] for e in zip(rkeys,rvals)}
rap

{1: 'Ind', 2: 'US', 3: 'UK'}